@model List<GlovoSoft.Integration.DTO.Usuario>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Job</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No se han encontrado usuarios</td>
            </tr>
        }
    </tbody>
</table>